[submodule "adf"]
	path = adf
	url = git@github.com:ftmdevlopment/adf.git
[submodule "zlib"]
	path = zlib
	url = git@github.com:ftmdevlopment/zlib.git
[submodule "minui"]
	path = minui
	url = git@github.com:ftmdevlopment/minui.git
[submodule "libpng"]
	path = libpng
	url = git@github.com:ftmdevlopment/libpng.git
